table {
  border: 2px solid #f1f1f1;

  tbody {
    tr {
      cursor: pointer;
    }
  }

  td, th {
    text-align: center!important;
  }

  td {
    vertical-align: middle!important;
  }

  .sortable-column {
    i {
      margin-left: 3px;
      font-size: 20px;
    }
  }
}